@font-face {
    font-family: "Do Hyeon Regular";
    src: url("../fonts/Do\ Hyeon\ Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Do Hyeon Regular";
    src: url("../fonts/Do\ Hyeon\ Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Do Hyeon Regular";
    src: url("../fonts/Do\ Hyeon\ Regular.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Do Hyeon Regular";
    src: url("../fonts/Do\ Hyeon\ Regular.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.eot");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.eot");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.woff");
    font-style: normal;
    font-weight: normal;
}